---
import "@fontsource/roboto";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Resume of Stanislav Strugovshchikov | Full-stack enginer</title>
    <meta
      name="description"
      content=" Full-Stack Developer with over 6 years of experience in web application development, AI assistant integration, and scalable front-end and back-end solutions. Expert in JavaScript, Node.js, React, Next.js, PHP, and microfrontend architectures."
    />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="bg-gray-100 text-gray-900">
    <slot />
  </body>
</html>
